.n{
    font-weight: bold;
}
.i{
    font-weight: bold;
    font-style: italic;
}
.d{
    font-weight: bold;
}
.m{
    font-weight: bold;
    font-style: italic;
}
.g{
    font-weight: bold;
    font-style: italic;
}
.l{
    font-weight: bold;
    font-style: italic;
}
.z{
    font-weight: bold;
    font-style: italic;
}
.k{
    font-weight: bold;
}
